<!--The content below is only a placeholder and can be replaced.-->
<div class="panel-body">

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
<form #form="ngForm" novalidate>
  <div class="form-group">
    <label>First Name</label>
     <input class="form-control" type="text" name="test" placeholder="Enter Name" ngModel required>
  </div>
  <div class="form-group">
    <label>Last Name</label>
     <input class="form-control" type="text" name="test" placeholder="Enter Name" ngModel required>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="fte" ngModel > FTE
    </label>
  </div>
  <label>Payment Type</label>

  <div class="radio">
    <label>
      <input type="radio" name="payType" value="Ch" ngModel checked> Cheque
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="payType" value="OL" ngModel> Online
    </label>
  </div>
  <div class="form-group">
    <Label>Preffered Language</Label>
    <select class="form-control">
      <option *ngFor="let lang of languages">{{lang}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Selected Date</label>
   <input type="date" name="hiredDate" class="form-control" ngModel>
  </div>
  <div>
    <button class="btn btn-primary" type="submit">Go</button>
   </div>
</form>
</div>
</div>


